
@import "../main";

@mixin question-counter($counter) {
  content: "Q" counter($counter) ": ";
  counter-increment: $counter;
}

.nav ol.questions {

  counter-reset: nav-question-counter;
  list-style: none;

  li a {
    &::before {
      @include question-counter(nav-question-counter);
    }

    margin-left: $padding-base-horizontal;
  }

  .question {
  //  margin-left: 12px;
    font-size: $font-size-small;
  }
}

section.exercise {
  counter-reset: section-question-counter;

  section.question .question-title::before {
    @include question-counter(section-question-counter);
  }
}

dl.lab-dates {
  @extend .dl-horizontal;

  $term-width: 60px;

  dt {
    width: $term-width;
  }

  dd {
    margin-left: $term-width + $padding-base-horizontal;
  }

}

ul.name-list {
  @extend .list-inline;

  list-style: none;
  display: inline-flex;

  li + li::before {
    content: ", ";
  }
}

#lab-content {
  position: relative;
}

.lab-content {

  .content-nav {
    li.question {
      padding-left: $padding-base-vertical;
      font-size: $font-family-base - 2px;
    }
  }

  .deliverable {
    text-decoration: underline;
  }
}

